<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级新加</title>
</head>
<body>
    <h3>班级新加</h3>
    <form action="claadd" method="post">
        <table>
            <tr>
                <td>班级编号:</td>
                <td><input name="cid"></td>
            </tr>
            <tr>
                <td>班级名称:</td>
                <td><input name="cname"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="新加">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>